* {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-print-color-adjust: exact;
}

html,
body {
    min-width: 1130px;
}

.nome-curso-print {
    display: none;
    font-size: 30px;
    text-align: left;

}

/* ---------------------TELA DE ESCOLHA DO CURSO ----------------------*/
/* ---------------------TELA DE ESCOLHA DO CURSO ----------------------*/
.fundo-preto {
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1130px;
    z-index: 101;
    background-color: black;
}

.escolha-curso {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 60vw;
    height: 50vh;
    margin-top: 20vh;
    min-width: 400px;
    max-width: 1100px;
    min-height: 340px;
    background: url('images/bg1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    z-index: 999;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.escolha-curso h2 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #3f3f3f;
    padding: 30px 10px 10px 10px;
}

.escolha-curso .select-turma {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 70%;

}

.escolha-curso .curso-container,
.escolha-curso .turma-container {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.escolha-curso * select {
    border-radius: 0px !important;
    font-size: 20px;
    font-weight: lighter;
    width: 200px;
    outline: none;
    padding: 3px 5px;
    margin-right: 10px;

}

.escolha-curso h5 {
    font-size: 24px;
    font-weight: bold;
    color: #404040;
    margin: 0px 10px 0px 0px;

}


/* =============HEAD (PARTE DE CIMA DO SITE) =============*/
.header {
    position: sticky;
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0px 20px 5px 50px;
    align-items: center;
    /* background-color: #1c78e2; */
    background: #0b7f9f;
    user-select: none;
    -webkit-user-select: none;
    z-index: 100;
    
}


ul a {
    color: black;
}

ul a:hover {
    text-decoration: none;
    color: rgb(27, 106, 252);
}
a{
    color: white;
}
a:hover{
    text-decoration: none !important;
    color: white;
}

.logo {
    color: white;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    cursor: pointer;
}

.logo img {
    width: 40px;
    margin-left: 16px;
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row;
    color: white;
    z-index: 1000;
    width: calc(100% - 280px);
    justify-content: space-around;
}

.dropdown {
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.nav h2 {
    margin: 0px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;


}

.nav .arrow-down {
    display: none;
    width: 17px;
    transition: 0.2s;

}


.nav ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 55px;
    left: -20px;
    transition: 0.3s cubic-bezier(.05, 1.02, .75, .96);
    background-color: #f4f4f4;
    list-style-type: none;
    color: #282828;
    width: 270px;
    padding: 0px;
    z-index: 1000;
    user-select: none;
    -webkit-user-select: none;
}

.nav ul li {
    border-bottom: 1px solid #d8d8d8;
    padding: 16px 10px 16px 30px;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;

}

.nav ul li:hover {
    background-color: rgb(228, 228, 228);
}

#menu-button {
    display: none;
}

.nav {
    display: flex !important;
    position: static;
    height: 70px;

}
.nav ul {
    
    display: block !important;
    
    opacity: 0;
}

.dropdown:hover>ul {
    
    visibility: visible;
    
    margin-top: 7px;
    opacity: 1;
}










.tools-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 5px 30px;
    /* background: #203e5f; */
    background: #1a3350;
    position: sticky;
    top: 0;
    z-index: 99;
    user-select: none;
    -webkit-user-select: none;
    min-width: 1130px;

}

.tools-container h1 {
    margin: 5px 0px 5px 0px;
    font-size: 35px;
    max-width: 300px;
    color: #f4f4f4;
    flex-grow: 1;
    height: 45px;
}

.tools-container h2 {
    display: flex;
    align-items: center;
    color: #f4f4f4;
    font-size: 22px;
    text-align: right;
    margin: 0px;
}
.tools-container img{
    height: 35px;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
}



.tools-container .select-turma {
    display: flex;
    justify-content: space-around;

}

.tools-container .select-turma select {
    border-radius: 0px;
    border: none;
    font-weight: lighter;
    font-size: 16px;
    padding: 5px 6px;
    width: 12vw;
    min-width: 155px;
    background-color: white;
    outline: none;

}


.tools-container .select-turma>div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.tools-container .select-turma h5 {
    margin: 0px 10px 0px 0px;
    color: white;

}


.search-container {
    display: flex;
    
    align-content: center;
    justify-content: space-between;

}
.search-container input{
    padding-left: 10px;
    border: none;
    margin-right: 5px;
    border-radius: 5px;
    outline: none;
}
.search-container img {
    margin-left: 10px;
}




/* MAIN-SIDE (ABAIXO DO HEAD, PARTE PRINCIPAL ONDE FICA AS MATERIAS E A TABELA) */
.main-container {
    display: flex;
    min-width: 1130px;
    
}
.materias-drop-area{
    height: calc(100vh - 135px);
    display: none;
    z-index: 1;
    width: 17vw;
    max-width: 320px;
    min-width: 200px;
    opacity: 0.95;
    background-color: rgb(0, 181, 212);
    position: absolute;
    margin-top: 135px;
    top:0;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
    border: 4px dashed white;
    padding: 26vh 20px 20px 20px;
}

/*  --------------------MATERIAS (LADO ESQUERDO) -------------------- */

.materias-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20vw;
    max-width: 320px;
    min-width: 200px;

    height: calc(100vh - 135px);
    min-height: 100%;
    
    
    padding: 20px 20px 10px 20px;
    background: linear-gradient(0deg, rgb(7, 48, 74) 0%, rgb(0, 169, 204) 100%);
    position: relative;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.4), 0 15px 12px rgba(0, 0, 0, 0.22);
    overflow-y: auto;
}


/*------------ SCROLLBAR PERSONALIZADA ------------*/
.materias-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.materias-list::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.materias-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);

    background-color: rgb(128, 128, 128);
}

.materias-list::-webkit-scrollbar-thumb:hover {
    background-color: rgb(114, 114, 114);
}

.materias-list::-webkit-scrollbar-thumb:active {
    background-color: rgb(83, 83, 83);
}

.loading {
    display: block !important;
    background-color: transparent !important;
    font-size: 100px !important;
    color: white !important;
    text-align: center !important;
}

.materias-title {
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-align: center;
    flex-shrink: 0;
}

.materia-each-container {
    display: none;
    text-transform: capitalize;
    border-radius: 3px;
    font-size: 17px;
    width: 15vw;
    height: 50px;
    max-width: 220px;
    min-width: 155px;
    margin: 5px 0px 5px 0px;
    color: black;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: #f4f4f4;
}

.materia-each-container * {
    user-select: none;
    -webkit-user-select: none;
}

.materia-each-container * * {
    user-select: none;
    -webkit-user-select: none;
}

.materia-color {
    width: 8.3%;
    height: 100%;
}

.materia-professor {
    height: 100%;
    width: 82%;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.materia-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
}

.professor-name {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.periodos {
    width: 10.5%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: 16px;
}



/*  ================LADO DIREITO DO SITE (TABELA)================ */
/*  ================LADO DIREITO DO SITE (TABELA)================ */
.right-side {
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
    
}

.turnos-checkbox-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    padding-top: 20px;
    width: 90%;
}
.turnos-checkbox-container *{
    user-select: none;
    -webkit-user-select: none;
}
.turnos-title {
    font-size: 20px;
    font-weight: bold;
    color: #303030;
    margin: 0px;
    margin-right: 20px;
}


.checkbox {
    display: flex;
    align-items: center;
    position: relative;
    width: 80px;
    margin: 0px 20px 0px 0px;
    cursor: pointer;
}

.text-checkbox {
    position: absolute;
    right: 0;
    user-select: none;
    -webkit-user-select: none;
}

.checkbox input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}

.checkmark {
    border: 2px solid #303030;
    border-radius: 2px;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 0;
    display: inline-block;
    transition: 0.1s;
}

.checked {
    background-color: rgb(77, 77, 77);
    border-color: rgb(77, 77, 77);
}

.checked::after {
    content: '';
    height: 15px;
    width: 8px;
    border: 3px solid white;
    border-top: none;
    border-left: none;
    position: absolute;
    top: 2px;
    left: 6px;
    transform: rotate(45deg);
}
#alertaTurnos{
    width: 250px;
    background-color: rgb(255, 247, 130);
    color: #282828;
    text-align: center;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 15px;
    display: none;
}


/* FIM INPUT PERSONALIZADO */

.tabela-horarios {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    flex-grow: 1;
    margin-bottom: 20px;
    user-select: none;
    -webkit-user-select: none;
}

.coluna {
    display: flex;
    flex-direction: column;
    width: 0;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 150px;
}

/* .coluna:first-of-type {
    width: 90px;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
} */

.coluna:first-of-type {
    min-width: unset;
    width: 157px !important;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.linha {
    display: flex;
    flex-direction: column;
}

.table-cel {
    border: 2px solid #4e4e4e;
    border-radius: 2px;
    border-bottom: none;
    border-right: none;
    color: black;
    position: relative;
    display: flex;
    flex: 1 0 55px;

    max-height: 120px;
    user-select: none;
    -webkit-user-select: none;
}

.blocked {
    background-color: #ff7f7a !important;
}

.dragEnter {
    border: 2px dashed #5f5f5f;
}

.semana-title {


    max-height: 60px;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    flex: 1 0 55px;
    user-select: none;
    -webkit-user-select: none;
}

.horario-cel:first-of-type {
    max-height: 60px;
}

.horario-cel {
    max-height: 120px;

    color: #404040;
    font-size: 20px;
    position: relative;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 55px;
    margin-right: 10px;
    padding-right: 25px;
    flex-wrap: nowrap;
    flex-direction: row;
    user-select: none;
    -webkit-user-select: none;
    letter-spacing: -1px;
}

.horario-cel:not(:first-of-type)::after {
    content: '';
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(66, 66, 66);
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: calc(50% - 10px); 
}

.horario-cel:not(:first-of-type)::before {
    content: '';
    display: inline-block;
    background-color: rgb(66, 66, 66);
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 9px;

}

/* classe quando move a materia para dentro da tabela */
.materia-inside {
    position: absolute;

    height: 100%;
    border-radius: 0px;
    margin: 0px;
    width: 100%;
    min-width: unset;
    max-width: unset;
}

.materia-inside .materia-color {
    width: 10%;



}

.materia-inside .materia-professor {
    width: 90%;
}

.table-cel:last-of-type {
    border-bottom: 2px solid #4e4e4e;
}

.coluna:last-of-type>div {
    border-right: 2px solid #4e4e4e;
}

.coluna:last-of-type>div:first-of-type {
    border-right: none;
}

.semana-title {
    font-size: 22px;
    color: #404040;
}

.almoco {
    background-color: rgb(255, 197, 71);
    border-right: none;
    border-left: none;
}

.coluna:nth-of-type(2) .almoco {
    border-left: 2px solid #4e4e4e;
}

.intervalo {
    background-color: rgb(91, 168, 255);
    border-right: none;
    border-left: none;
}

.coluna:nth-of-type(2) .intervalo {
    border-left: 2px solid #4e4e4e;
}


/* ======================LAYOUT DE IMPRESSAO============================= */


@media print {

    html {
        padding: 50px 40px 20px 50px;
    }

    @page {
        size: landscape; 
        margin: 0px;

    }
    
    .nome-curso-print {
        display: block;
    }

    .header{
        display: none;
    }
    .tools-container {
        display: none;
    }
    .turnos-checkbox-container{
        display: none;
    }
    .materias-list {
        display: none;
    }

    .main-container {
        width: 100vw;
        height: calc(100vh - 70px);
    }

    .right-side {
        width: 100vw;
        height: 100%;
    }
    .tabela-horarios{
        width: 100%;
    }
    .buttons-group {
        display: none;
    }
    .semana-title{
        font-size: 17px;
    }
    .horario-cel{
        font-size: 16px;
    }
    
}




@media screen and (max-width: 1750px) {
    

    .dropdown {
        width: 15vw;
    }
}

@media screen and (max-width: 1208px) {
    .nav ul {
        width: 210px;
    }

    .dropdown {
        width: 15vw;
    }
}

@media screen and (min-width: 971px) {
    #menu-button {
        display: none;
    }

    .nav {
        display: flex !important;
        position: static;
        height: 70px;

    }
    .nav ul {
        
        display: block !important;
        
        opacity: 0;
    }

    .dropdown:hover>ul {
        
        visibility: visible;
        
        margin-top: 7px;
        opacity: 1;
    }



}
